APP_URL=http://localhost:3000

X_CLIENT_ID=
X_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AZURE_ANTHROPIC_API_KEY=
AZURE_ANTHROPIC_RESOURCE=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=MARKED
SNOWFLAKE_SCHEMA=PUBLIC

SEED_MODE=false
